:root {--gristexto:#666772; --grisfondo:#EFEFF0;--naranja:#ff6a00d1;}
form{display: flex; justify-content: flex-end;}
form button {margin: 4px;}
a{font-family:Arial, Helvetica, sans-serif;font-size: 15px; font-weight: 700; text-decoration: none; margin: 2px;}
#preheader{padding: 5px;background-color: var(--naranja);}
ul{list-style: none;display: flex; flex-direction: row;}
li{margin: 4px;}
button{margin: 4px}
.boton{color: var(--naranja); border-radius: 4px;border: solid var(--naranja) 1px;font-weight: 600; margin: 4px;}
.boton:hover{color: white;background-color: var(--naranja); border-radius: 4px;border: solid var(--naranja) 1px;font-weight: 600;}
@media (width<770px) {.buscador{display:none}};